﻿@model IEnumerable<Darazrt.Web.Models.Persons>
<h2> Person List</h2>
@if (Model.Count()==0)
            {
                <p> No data in the database!</p>
            }
else
            {
                <table border="1">
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.First().FirstName)</th>
                        <th>@Html.DisplayNameFor(m => m.First().LastName)</th>
                        <th>@Html.DisplayNameFor(m => m.First().Adress)</th>
                        <th>@Html.DisplayNameFor(m => m.First().Email)</th>
                        <th>@Html.DisplayNameFor(m => m.First().PhoneNumber)</th>
                        <th>Datasheet</th>
                        <th>Delete</th>
                        <th>Modify</th>
                    </tr>
                    @foreach (var person in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(m => person.FirstName)</td>
                    <td>@Html.DisplayFor(m => person.LastName)</td>
                    <td>@Html.DisplayFor(m => person.Adress)</td>
                    <td>@Html.DisplayFor(m => person.Email)</td>
                    <td>@Html.DisplayFor(m => person.PhoneNumber)</td>
                    <td>@Html.ActionLink("[SHOW]", "Details", new { id = person.Id })</td>
                    <td>@Html.ActionLink("[DEL]", "Remove", new { id = person.Id })</td>
                    <td>@Html.ActionLink("[EDIT]", "Edit", new { id = person.Id })</td>
                </tr>
                }
                </table>
            }