﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Darazrt.Web.Models.Persons

<h2>Person Edit</h2>

@using (Html.BeginForm("Edit", "Persons"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    @Html.Hidden("editAction", ViewData["editAction"].ToString())
    <div class="editor-label">
        @Html.LabelFor(m => m.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.FirstName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.LastName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Adress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Adress)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.PhoneNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.PhoneNumber)
    </div>
    <input type="submit" value="Send">

}

