﻿@model  Darazrt.Web.Models.PersonListViewModel
@{ 
    ViewData["Title"] = "Person Index";
}
<h2>
    Person Index
</h2>
<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("PersonEdit", Model.EditedPerson)
@await Html.PartialAsync("PersonsList", Model.ListOfPersons)